<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Les créas de Mima</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="icon" href="/public/img/needle.png" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/public/js/app.js"></script>
</head>
<body>
    <div id="header"></div>
    <main>
        <section class="about-section">
            <h1>À propos de Les créas de Mima</h1>
            <p>Bienvenue chez Les créas de Mima! Je suis une maman passionnée par la couture, spécialisée dans les œuvres faites à la main qui apportent une touche unique et personnelle à votre quotidien.</p>
            
            <h2>Mon Histoire</h2>
            <p>Les créas de Mima est né d'une passion pour la couture et le désir de partager cette passion et ce que je créé.</p>
            
            <h2>Rencontrez Mima</h2>
            <p>Je suis Mima, la fondatrice et créatrice en chef de Les créas de Mima. Avec une passion pour la couture depuis maintenant quelques années, j'ai décidé de partager cette passion et de créer un site répertoriant toutes mes oeuvres. Chaque création que je réalise est une pièce unique !</p>
            
            <h2>Contactez-moi</h2>
            <p>Si vous avez des questions, si vous souhaitez passer une commande ou si vous souhaitez en savoir plus sur nos créations, n'hésitez pas à me contacter. Pour ce faire, il vous suffit de cliquer sur la rubrique "Contact". Je serais ravis de vous aider !</p>
        </section>
    </main>
    <div class="footer"></div>
</body>
</html>
