<header>
    <div class="header-container">
        <div class="logo-title-container">
            <img class="logo" src="/app/public/img/needle.png" alt="logo">
            <h1>Les créas de Mima</h1>
        </div>
        <nav>
            <a href="/app/src/view/index.html">Accueil</a>
            <a href="/app/src/view/galerie.html">Galerie</a>
            <a href="/app/src/view/apropos.html">À propos</a>
            <a href="/app/src/view/contact.html">Contact</a>
        </nav>
    </div>
</header>
