<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Les créas de Mima</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="icon" href="/public/img/needle.png" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/public/js/app.js"></script>
</head>
<body>
    <div id="header"></div> 
    <main>
        <h2>L'acceuil</h2>
    </main>
    <div class="footer"></div>
</body>
</html>