<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Les créas de Mima</title>
        <link rel="stylesheet" href="style.css">
        <link rel="icon" href="needle.png" type="image/x-icon">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="app.js"></script>
    </head>
<body>
    <div id="header"></div> 
    <main>
        <div id="test">
            <div class="login-container">
                <h2>Connexion</h2>
                <input type="text" id="username" placeholder="Nom d'utilisateur">
                <input type="password" id="password" placeholder="Mot de passe">
                <button onclick="login()">Se Connecter</button>
            </div>
        </div>
    </main>
    <div class="footer"></div>
</body>
</html>