<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Les créas de Mima</title>
        <link rel="stylesheet" href="style.css">
        <link rel="icon" href="needle.png" type="image/x-icon">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="app.js"></script>
    </head>
<body>
    <div id="header"></div>
    <main>
        <p class="tocenter">Vous pouvez me contacter par e-mail ou par téléphone en utilisant les liens ci-dessous :</p>
        <div class="contact-links">
            <a href="mailto:gaelle.machillot@gmail.com?subject=Demande de contact Les créas de Mima&body=Bonjour,%0A%0AJe souhaite vous contacter au sujet de %0A%0AMerci." class="contact-link">Envoyez-moi un email !</a>
            <a href="tel:+33689463456" class="contact-link">Appeler moi !</a>
        </div>
    </main>
</body>
</html>
