<header>
    <div class="header-container">
        <div id="menu-container">
            <div>
            </div>
            <div>
            </div>
            <div>
            </div>
            <div class="logo-title-container">
                <img class="logo" src="images/needle.png" alt="logo">
                <h1>Les créas de Mima</h1>
            </div>
            <div>
            </div>
            <div id="auth">
                <a href="connexion.html"><button id="login-btn">Se connecter</button></a>
                <a href="/"><button id="logout-btn">Se deconnecter</button></a>
            </div>
        </div>
        <nav>
            <a href="index.html">Accueil</a>
            <a href="galerie.html">Galerie</a>
            <a href="apropos.html">À propos</a>
            <a href="contact.html">Contact</a>
        </nav>
    </div>
</header>